

.mountain-img{
  height: 290px;
	position: absolute;
	left: 34%;
	bottom: 0px;
}

.cloud-pic-div{
	position: relative;
}

.cloud-pic-one{
	height:36px;
	position: absolute;
	left:300px;
	top: 25px;
}

.cloud-pic-two{
	height:36px;
	position: absolute;
	bottom: 220px;
	left: 950px;
}

.profile-img{
	height: 120px;
	margin:0 0 25px -6px;
	border-radius: 60px;
}

.skill-img{
	height: 140px;
	border-radius: 70px;
	float: left;

}

.skill-img-two{
	height: 140px;
	border-radius: 70px;
	float: right;
	margin-right: 350px;
}
